:root {
  line-height: 1.3em;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;

  /* Colors */

  --bel-green      :#35b446;
  --bel-gray       :#c7c7c7;
  --bel-gray-text  :#5d5d5d;
  --bel-lite-gray  :#f3f3f3;
  --bel-yellow     :#fcf060;
  --bel-orange     :#ff9a44;
  --bel-brown      :#725f33;


  /* Shadows */

  --bel-box-shadow: 0px 1px 7px -2px rgba(0,0,0,.4);
}

html, body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:var(--bel-lite-gray);
}

/* h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter {
  text-transform: uppercase;
}  */

button {
  border-radius: 0.3em;
  background-color:white;
  transition: background-color .3s ease, filter .3s ease;
}

button:hover {
  background-color: var(--bel-lite-gray);
}

button:active {
  filter: brightness(.8);
}

button.success {
  background-color: var(--bel-green);
}

button.success2 {
  background-color: var(--bel-yellow);
}

button.success3 {
  background-color: var(--bel-green);
}


button.more,
button.less {
  background-color: var(--bel-lite-gray);
  margin-top: 1em;
  font-size: 0.9em;

}
/*
button.less {
  background-color: var(--bel-green);
  ;
} */

nav {
  display: flex;
  padding: 0.5em;
  background-color: white;
  justify-content: space-between;
  box-shadow: var(--bel-box-shadow);
}

/* DAY-PANEL */

div.screen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  padding: 1em 2em;
  align-items: flex-start;
}

div.screen > * {
  margin-right: 2em;
  margin-bottom: 2em;

}

section.day-panel {
  padding: 1em;
  flex-basis: 300px;
  border-radius: 1em;
  background-color:#f6f6f6;
  box-shadow: var(--bel-box-shadow)
}

section.day-panel.dark {
  background-color: var(--bel-brown);
}

section.day-panel.dark h3,
section.day-panel.dark h4 {
  color: white;
}

section h3 {
  margin-bottom: 1em;
}

section h4 {
  margin-bottom: 0.8em;
}

section.day-panel .meal-list > * + * {
  margin-top: 1.5em;
}

/* MEAL PANEL */

.meal-card {
  padding: 0.5em;
  position: relative;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0px 4px 4px -2px rgba(0,0,0,0);
  transition: transform .3s ease, box-shadow .3s ease;
}

.meal-card:hover {
  transform: translateY(-0.5em);
  box-shadow: 0px 11px 14px -6px rgba(0,0,0,.2);
}

.meal-card .title {
  line-height: 1.3em;
}

.meal-card h4 {
  margin-bottom: 0.5em;
}

.meal-card h5 {
  font-size: 0.9em;
  margin: 1em 0 0.5em;
  color: var(--bel-gray-text);
}

.meal-card ol,
.meal-card ul {
  margin: 0;
  font-size: 0.9em;
  list-style: disc;
  line-height: 1.5em;
  padding: 0 1em 0 1.5em;
  color: var(--bel-gray-text);
}

.meal-card ol {
  list-style: decimal;
}

.meal-card ul > li > div {
  display: flex;
  justify-content: space-between;
}

.meal-card button.edit {
  top: 0px;
  right: 0px;
  padding: 0.8em;
  position: absolute;
  border-radius: 0 0.4em;
}

.meal-card button.edit:hover {
  background-color: var(--bel-green);
}

.meal-card button.edit2 {
  top: 0px;
  right: 0px;
  padding: 0.8em;
  position: down;
  border-radius: 0 0.4em;
}

.meal-card button.edit2:hover {
  background-color: var(--bel-green);
}

/* UTILS */


.bg-bliss {
  background-image:linear-gradient(200deg,var(--bel-yellow) 0%, var(--bel-orange) 100%);
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack > * + * {
  margin-top: 1em;
}

.stack.--gap-0 > * + * {
  margin-top: 0;
}

.rail {
  display: flex;
}

.rail > * + * {
  margin-left: 1em;
}

.rail.--spread {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.no-margin {
  margin: 0;
}


/* Form */

label.input-group {
  display: flex;
  flex-direction: column;
}

label.input-group strong {
  font-size: 0.9em;
}

label.cross{
  text-decoration: line-through;
}

/* Input */

.custom-input {
  width: 300px; /* Ustalona szerokość */
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-input:focus {
  border-color: var(--bel-orange);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}




















